{% load unicorn %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% unicorn_scripts %}
    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /> -->
    {% block header %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>

  <body class="overflow-y-hidden">
    {% csrf_token %}
    <nav class="z-50 flex w-full top-0 backdrop-blur bg-white px-2">
      <div class="flex flex-col w-full">
        <div class="px-12 py-4">
          <h1 class="flex text-emerald-600 font-serif text-5xl items-center">
            <img style="height: 48px;" src="{% static 'image/habitas.png' %}">
          </h1>
        </div>
        <hr class="bg-emerald-600 h-0.5 w-full" />
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
