{% extends '_base.html' %} {% load unicorn %}{% load static %} {% block header %}

<link rel="stylesheet" href="{% static 'index.css' %}" />

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
  integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
  integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
  crossorigin=""
></script>
<script type="text/javascript" src="{% static 'js/city.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bairros.js' %}"></script>

{% endblock %} {% block title %} Habitas {% endblock %} {% block content %}

<div class="grid grid-cols-4 my-4 scrollbar-thin scrollbar scrollbar-thumb-gray-300" style="overflow-y: auto;max-height: 100vh;">
  <div
    class="col-span-1 mx-2 px-6 items-center scrollbar-thin scrollbar scrollbar-thumb-gray-300 scrollbar-track-gray-100 bg-clip-content border h-[calc(93vh-90px)]"
    style="overflow-y: auto;max-height: 100vh;">
    <h1 class="text-3xl text-left font-bold my-2 w-fit">
      Árvores de SJC
      <hr class="bg-emerald-600 h-2.5 w-full my-2" />
    </h1>
    <p class="text-left text-xl font-medium my-2">
      Aprenda sobre as árvores de sua vizinhança.
    </p>
    <p class="text-left font-light">
      Pela primeira vez, você tem acesso a informações sobre as árvores 
      do Campus do CTA. Aprenda sobre as árvores que compõem a floresta urbana da nossa cidade.
    </p>
    <h1 class="text-2xl text-left font-medium my-4 w-fit">
      Estatísticas gerais
      <hr class="bg-emerald-900 h-1.5 w-full" />
    </h1>
    <p class="text-left font-light">
      596 Árvores registradas.
    </p>
    <div id="estatisticas" style="visibility:hidden;">
    <h1 class="text-2xl text-left font-medium my-4 w-fit">
      Estatísticas da árvore selecionada
      <hr class="bg-emerald-900 h-1.5 w-full" />
    </h1>
    <h1 class="text-2xl text-left font-medium my-4 w-fit" id="nome_popular">
      <hr class="bg-emerald-900 h-1.5 w-full"/>
    </h1>
    <p class="text-left font-light" id="dados">
    </p>
      <h2 class="text-2xl text-left font-medium my-4 w-fit">
        Comentários
        <hr class="bg-emerald-900 h-1.5 w-full" />
      </h2>
      {% unicorn 'posts' %}
    </div>
  </div>
  <div class="z-0 col-span-3 pr-2 h-screen">
    <div id="map" class="z-0 min-w-max"></div>
    <div class="flex w-full h-max flex-row-reverse items-center my-4">
      <span class="text-emerald-600 font-serif flex flex-row">
        <svg
          class="h-6 w-6 text-emerald-600"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            stroke="none"
            d="M0
                            0h24v24H0z"
          />
          <rect x="4" y="3" width="8" height="14" rx="4" />
          <rect x="12" y="7" width="8" height="10" rx="3" />
          <line x1="8" y1="21" x2="8" y2="13" />
          <line x1="16" y1="21" x2="16" y2="14" />
        </svg>
        <span class="text-xl">Habitas</span><sup class="text-sm">®</sup>
      </span>
    </div>
  </div>
</div>

<script>
  // load trees from context to list

  var map = L.map("map").setView([-23.205459913570404, -45.88184219354045], 15);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  L.geoJSON(CITY_LIMIT).addTo(map);
  L.geoJSON(BAIRROS).addTo(map);

  console.log(CITY_LIMIT);
  function onMapClick(index) {
    tree_dict = tree_array[index];
    Unicorn.call("posts", "update", index);
    document.getElementById("estatisticas").style.visibility = "visible";
    document.getElementById("dados").innerHTML =
      "Número da árvore: " + 
      tree_dict.numero +
      "<br>" +
      "Nome científico: " +
      tree_dict.nome_cientifico +
      "<br>" +
      "Diâmetro à altura do peito: " +
      tree_dict.dap + " cm" +
      "<br>" +
      "Altura: " +
      tree_dict.altura + " m" +
      "<br>" +
      // "Data da coleta: " +
      // tree_dict.data_da_coleta +
      // "<br>" +
      "Latitude: " +
      tree_dict.latitude +
      "<br>" +
      "Longitude: " +
      tree_dict.longitude;

    document.getElementById("nome_popular").innerHTML =
      "Nome popular: " + tree_dict.nome_popular;

    // use tree_dict.id to load posts using django_unicorn


  }
</script>

<script>
  tree_array = [];
  circlearray = [];

  {% for tree in trees %}

  tree_obj = {
      id: {{ tree.id }},
      nome_popular: "{{ tree.nome_popular }}",
      nome_cientifico: "{{ tree.nome_cientifico }}",
      dap: "{{ tree.dap }}",
      altura: "{{ tree.altura }}",
      data_da_coleta: "{{ tree.data_da_coleta }}",
      latitude: "{{ tree.latitude }}",
      longitude: "{{ tree.longitude }}",
      numero: {{ tree.N_placa }},
  };

  tree_array.push(tree_obj);

  circle = L.circle([{{ tree.latitude }}, {{ tree.longitude }}], {
      color: 'green',
      fillColor: '#040',
      fillOpacity: 0.5,
      radius: 5,
      selected: false,
  }).addTo(map);
  circlearray.push(circle);
  lastclickedcircle = circle;

  {% endfor %}

  // circlearray.forEach(function (circle, index) {
  //     tree_dict = tree_array[index]
  //     popup = `<span class="font-bold text-ellipsis">Nome popular:</span> ${tree_dict.nome_popular}<br>` +
  //         `<span class="font-bold text-ellipsis">Nome científico:</span> ${tree_dict.nome_cientifico}<br>` +
  //         `<span class="font-bold text-ellipsis">Diâmetro:</span> ${tree_dict.dap}cm<br>`
  //     "DAP: " + tree_dict.dap + "<br>" + "Altura: " + tree_dict.altura + "<br>" + "Data da coleta: " + tree_dict.data_da_coleta + "<br>" + "Latitude: " + tree_dict.latitude + "<br>" + "Longitude: " + tree_dict.longitude;
  //     circle.bindPopup(popup)
  // });
  circlearray.forEach(function (circle, index) {
    circle.on("click", function () {
      lastclickedcircle.setStyle({color: 'green', fillColor: '#040'});
      onMapClick(index);
      this.setStyle({color: 'red', fillColor: '#f00'});
      lastclickedcircle = this;
    });
  });
</script>

{% endblock %}
